    {% load i18n %}

    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top" aria-label="شريط التنقل الرئيسي" data-en-label="Main Navigation">
        <div class="container">
            <img class="navbar-logo" src="{% static 'images/logo2.jpg' %}"> &nbsp; &nbsp;
            <a class="navbar-brand" href="#" data-en-text="Rufaqa' Al-Noor" data-ar-text="رفقاء النور">رفقاء النور </a> 
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="تبديل التنقل" data-en-label="Toggle navigation" data-ar-label="تبديل التنقل">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="navbar-nav col-11 justify-content-around">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" aria-current="page"><i class="fas fa-home ml-1 mr-1"></i> <span data-en-text="Home" data-ar-text="الرئيسية">الرئيسية</span> <span class="sr-only" data-en-text="(current)" data-ar-text="(الحالية)">(الحالية)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about"><i class="fas fa-info-circle ml-1 mr-1"></i> <span data-en-text="About Initiative" data-ar-text="عن المبادرة">عن المبادرة</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services"><i class="fas fa-hand-holding-heart ml-1 mr-1"></i> <span data-en-text="Our Services" data-ar-text="خدماتنا">خدماتنا</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#volunteers"><i class="fas fa-users ml-1 mr-1"></i> <span data-en-text="Join as Volunteer" data-ar-text="انضم كمتطوع">انضم كمتطوع</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact"><i class="fas fa-envelope ml-1 mr-1"></i> <span data-en-text="Contact Us" data-ar-text="اتصل بنا">اتصل بنا</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav col-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-globe fa-lg"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            
                            {% for lang in languages %}
                            <li>
                                <a class="dropdown-item {% if lang.code == LANGUAGE_CODE %} active {% endif %}" href="/{{ lang.code }}/">
                                    {{ lang.name_local }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>